:root {
    --bs-blue: #037bc0;
    --bs-green: #8cbc00;
}

html {
    box-sizing: border-box;
    font-size : 62.5%;
    /* 1 rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;

}

h1 {
    font-size: 3.8rem;
}

h2{
    font-size: 3.2rem;
}

@media (min-width: 768px){
    h2{
        font-size: 4rem;
    }
}

h3{
    font-size: 2.4rem;
}

@media (min-width: 768px){
    h3{
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

/* //Reescribir colores */
.text-primary,
.site-name {
    color: var(--bs-blue) !important;
}

.bg-primary{
    background-color: var(--bs-blue) !important;
}

.btn-success{
    background-color: var(--bs-green)!important;
}

/* creating hero section */
.hero{
    background-image: url(../img/principal.jpg);
    content: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

@media (min-width: 768px){
    .hero{
        height: 55rem;
    }
}

/* productos */
@media (min-width: 768px){
    .producto img{
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
}

/* Categoria */
.categoria img{
    transition-property: transform;
    transition-duration: 300ms;
}

.categoria img:hover{
    transform: scale(1.2);
}